streamlit
google-generativeai
pandas
transformers
seaborn
torch
bcrypt
llama-cpp-python
bcrypt
Flask
Flask-SQLAlchemy
SQLAlchemy
pandas
requests
streamlit
scikit-learn 
numpy
requests 
altair 
scipy 
statsmodels